@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css';
.djs-container {
  background-image: linear-gradient(90deg, hsla(0, 0%, 78.4%, 0.15) 10%, transparent 0), linear-gradient(hsla(0, 0%, 78.4%, 0.15) 10%, transparent 0);
  background-size: 15px 15px;
  background-color: #f7f8fa;
}
.djs-palette {
  width: 800px !important;
}
.djs-palette .entry {
  width: 120px;
}
.djs-palette .entry:hover {
  background-color: #e5edf4;
}
.bjs-powered-by {
  display: none;
}
.icon-custom {
  /* 定义一个公共的类名 创建的元素默认的样式 */
  border-radius: 8px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.namei {
  background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F202007%2F02%2F20200702233225_hAMLN.thumb.1000_0.jpeg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1627806086&t=95e5f3969fd8fc6398b99a2f904a6053');
}
.tool1 {
  background-image: url('../assets/bpmn/tool/1.svg');
}
.tool2 {
  background-image: url('../assets/bpmn/tool/2.svg');
}
.tool3 {
  background-image: url('../assets/bpmn/tool/3.svg');
}
.tool4 {
  background-image: url('../assets/bpmn/tool/4.svg');
}
.event1 {
  background-image: url('../assets/bpmn/event/1.svg');
}
.event2 {
  background-image: url('../assets/bpmn/event/2.svg');
}
.event3 {
  background-image: url('../assets/bpmn/event/3.svg');
}
.event4 {
  background-image: url('../assets/bpmn/event/4.svg');
}
.event5 {
  background-image: url('../assets/bpmn/event/5.svg');
}
.event6 {
  background-image: url('../assets/bpmn/event/6.svg');
}
.event7 {
  background-image: url('../assets/bpmn/event/7.svg');
}
.event8 {
  background-image: url('../assets/bpmn/event/8.svg');
}
.event9 {
  background-image: url('../assets/bpmn/event/9.svg');
}
.event10 {
  background-image: url('../assets/bpmn/event/10.svg');
}
.mypanelContainer {
  background-color: #fff;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 400px;
  padding: 10px;
  height: calc(100vh - 216px);
  transition: right 0.5s;
}
.mypanelContainer > div {
  height: calc(100vh - 246px);
  padding: 8px;
  overflow: auto;
}
.hidenPanelContainer {
  right: -408px;
}
.mypanelbgContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
