@charset "UTF-8";

//*variable------------------------------------------------------------------------------*/
@color: #3f9eff;
@green: #64C473;
@red: red;
@btnRed: #fd5c2d;
@white: #fff;
@bgWhite: #fff;
@black: #313335;
@gray: #96999D;
@color-3: #333;
@color-6: #666;
@color-9: #999;
@borderColor: #ccc;
@headerHeight: 60px;
@menuWidth: 180px;
@menuColor: #456586;


//*box-flex*/
.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

//*box-items*/
.box-items {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

}

/* flex-center*/
.box-center {
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-pack: center;
  box-pack: center;
}

//*flexs*/
.loopFlex(@n) when (@n > 0) {
  .flex-@{n} {
    display: block;
    -webkit-box-flex: @n;
    -webkit-flex: @n;
    -ms-flex: @n;
    flex: @n;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }

  //循环调用自身
  .loopFlex((@n - 1));
}

.loopFlex(6);


//*指示文本仅显示一行,超出后显示省略号*/
.single-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}


//*@基础类---------------------------------------------------------------------------------*/
.relative {
  position: relative !important;
}

.none {
  display: none !important;
}


.pointer {
  cursor: pointer;
}

.spacing {
  padding-bottom: 50px !important;
}

.overhide {
  overflow: hidden;
}

.link {
  color: @color;
  cursor: pointer;
  margin: 0 5px;
}


//*color*/
.color {
  color: @color !important;
}

.white {
  color: @white
}

.gray {
  color: @gray
}

.red {
  color: @red
}

.green {
  color: @green
}

.color-3 {
  color: @color-3
}

.color-6 {
  color: @color-6
}

.color-9 {
  color: @color-9
}

//*禁止鼠标点击*/
.overlay {
  pointer-events: none;
}

//*左右浮动*/
.left {
  float: left;
}

.right {
  float: right;
}


//*字体显示*/
.bold {
  font-weight: bold;
}

.middle {
  vertical-align: middle !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

//圆角
.roundedCorners(@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

//阴影
.shadowBox (@params: 3px 3px 3px) {
  -webkit-box-shadow: @params;
  -moz-box-shadow: @params;
  box-shadow: @params;
  /*参数说明 投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色*/
}

//过渡色
.gradient(@rollDeg: 90deg, @color1: #ff3b2e 0%, @color2: #ff682e 100%) {
  background-image: -webkit-linear-gradient(@rollDeg, @color1, @color2);
  background-image: linear-gradient(@rollDeg, @color1, @color2);
  background: -o-linear-gradient(@rollDeg, @color1, @color2);
  background: -ms-linear-gradient(@rollDeg, @color1, @color2);
  background: -moz-linear-gradient(@rollDeg, @color1, @color2);
}

//*header nav*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  height: @headerHeight;
  width: 100%;
  background: @color;
  color: #fff;

  .logo {
    padding: 20px;
  }

  .el-dropdown {
    margin-top: 10px;
    cursor: pointer;

    img {
      width: 40px;
      margin-right: 10px;
    }
  }
}

//*菜单 */
#menu {
  position: fixed;
  top: @headerHeight;
  left: 0;
  width: @menuWidth;
  height: 100%;
  background: #f1f4fd;
  overflow: hidden;
  border-right: solid 1px #e6e6e6;
}

#container {
  margin-top: @headerHeight;
  margin-left: @menuWidth;
}

#main {
  padding: 15px;
}

#content {
  margin-top: 15px;
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

//*重写element-ui菜单 */
.el-menu {
  background: #f1f4fd;
  border-right: none;
}

.el-submenu__title {
  color: #6f7277;

  i {
    color: #6f7277;
  }

  &:hover {

    color: gray;

    i {
      color: gray;
    }
  }
}

.el-menu-item {
  color: #6f7277;

  a {
    color: gray;
  }

  &.is-active {
    background: #ecf5ff;
    color: gray;
  }

  &:focus,
  &:hover {
    color: gray;
    background: #ecf5ff;
  }

}

.el-menu-item-group__title {
  padding: 0;
}

.el-pagination {
  text-align: right
}

.el-dialog__body {
  padding: 10px 20px;
}

.tableViewContainer {
  &>table {
    width: 100%;

    &>thead {
      &>tr {
        background-color: #e4e4e4;

        &>th {
          font-size: 14px;
          line-height: 40px;
          color: #666;
          text-align: center;
          font-weight: bold;
        }
      }
    }

    &>tbody {
      &>tr {
        &>td {
          padding: 4px;
          color: #333333;
          line-height: 2.5;
          font-size: 14px;
          text-align: center;
          border-bottom: 1px solid #e4e4e4;
        }
      }

      &>tr:nth-child(2n) {
        background-color: #f8f8f8;
      }

      &>tr:hover {
        background-color: #ecf5ff;
      }
    }
  }
}

.modelFormContainer {
  &>table {
    width: 100%;

    &>tr {
      &>td:nth-child(2n+1) {
        width: 80px;
      }

      &>td {
        padding: 4px;
        font-size: 14px;
        line-height: 2;
        color: #666;
      }
    }
  }
}

.block {
  margin-top: 20px;
  display: block;
}

.btnListContainer {
  margin-bottom: 10px;
}

.globalLoading {
  .el-loading-spinner {
    width: 130px;
    height: 130px;
    left: 50%;
    margin-left: -65px;
    margin-top: -65px !important;
    padding-top: 35px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 8px;
  }

  .el-loading-spinner i {
    font-size: 30px;
    color: #fff;
  }

  .el-loading-spinner .el-loading-text {
    font-size: 16px;
    color: #fff;
  }
}

.noData {
  line-height: 2;
  text-align: center;
  color: #3f9eff;
  font-size: 14px;
}

.clearFloat {
  width: 0px;
  height: 0px;
  clear: both;
  visibility: hidden;
  display: block;
}

.el-breadcrumb {
  font-size: 15px;
  line-height: 2;
}

.el-form-item__label {
  text-align: left;
}

.treeMainContainer {
  position: absolute;
  left: 190px;
  top: 0px;
  width: 200px;
  height: 300px;
  border: 1px solid #d0cdcd;
  .roundedCorners(10px);
  background-color: #979696;
  .active{
    background-color: #7a7a7a;
  }
  .tree {
    padding: 10px;
    &>li {
      border-bottom: 1px solid #d0cdcd;
      &>div {
        line-height: 2.5;
        color: #fff;
        &>i {
          float: right;
          margin-top: 8px;
        }
        &>span {
          display: inline-block;
          margin-right: 10px;
          text-indent: 5px;
          font-size: 13px;
          display: block;
          .single-line();
        }
      }
    }
  }
}