@charset "UTF-8";
@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css';
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
a,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
hgroup {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: 0;
}
input,
img {
  vertical-align: middle;
}
input:focus,
a:focus {
  outline: 0;
}
a {
  color: #333;
  text-decoration: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
body {
  font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
}
input,
textarea {
  -webkit-border-radius: 0;
}
::-webkit-input-placeholder {
  color: #999;
  font-size: 12px;
}
:-moz-placeholder {
  color: #999;
  font-size: 12px;
}
::-moz-placeholder {
  color: #999;
  font-size: 12px;
}
:-ms-input-placeholder {
  color: #999;
  font-size: 12px;
}
.navContainer {
  border-bottom: 1px solid #dadada;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-top: 4px;
}
.navContainer > span:first-child {
  -moz-border-radius: 3px 0px 0px 0px;
  -webkit-border-radius: 3px 0px 0px 0px;
  border-radius: 3px 0px 0px 0px;
}
.navContainer > span:last-child {
  -moz-border-radius: 0px 3px 0px 0px;
  -webkit-border-radius: 0px 3px 0px 0px;
  border-radius: 0px 3px 0px 0px;
}
.navContainer > span {
  cursor: pointer;
  margin-right: -1px;
  font-size: 14px;
  margin-bottom: -1px;
  display: inline-block;
  line-height: 2;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #dadada;
  background-color: #fff;
}
.navContainer > span > i {
  color: #999;
  font-size: 12px;
}
.navContainer > .active {
  font-size: 14px;
  border-bottom: 1px solid #fff;
  color: #409EFF;
}
.login-container {
  background-size: 100% auto;
  width: 100%;
  height: 100vh;
}
.login-container .login-box {
  margin-top: 25vh;
  border-radius: 5px;
  width: 350px;
  padding: 65px 35px 15px 35px;
  background: #fff;
  position: relative;
}
.login-container .login-box .el-form-item {
  margin-bottom: 16px;
}
.login-container .login-box .login-icon {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background: #fff;
  text-align: center;
  line-height: 110px;
  position: absolute;
  top: -65px;
  right: 120px;
}
.login-container .login-box .login-icon img {
  width: 60px;
}
.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.box-items {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/* flex-center*/
.box-center {
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-pack: center;
  box-pack: center;
}
.flex-6 {
  display: block;
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  width: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.flex-5 {
  display: block;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  width: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.flex-4 {
  display: block;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  width: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.flex-3 {
  display: block;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  width: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.flex-2 {
  display: block;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  width: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.flex-1 {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.single-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.relative {
  position: relative !important;
}
.none {
  display: none !important;
}
.pointer {
  cursor: pointer;
}
.spacing {
  padding-bottom: 50px !important;
}
.overhide {
  overflow: hidden;
}
.link {
  color: #3f9eff;
  cursor: pointer;
  margin: 0 5px;
}
.bold {
  font-weight: bold;
}
.middle {
  vertical-align: middle !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  height: 60px;
  width: 100%;
  background: #3f9eff;
  color: #fff;
}
#header .logo {
  padding: 20px;
}
#header .el-dropdown {
  margin-top: 10px;
  cursor: pointer;
}
#header .el-dropdown img {
  width: 40px;
  margin-right: 10px;
}
#menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 180px;
  height: 100%;
  background: #f1f4fd;
  overflow: hidden;
  border-right: solid 1px #e6e6e6;
}
#container {
  margin-top: 60px;
  margin-left: 180px;
}
#main {
  padding: 15px;
}
#content {
  margin-top: 15px;
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.el-menu {
  background: #f1f4fd;
  border-right: none;
}
.el-submenu__title {
  color: #6f7277;
}
.el-submenu__title i {
  color: #6f7277;
}
.el-submenu__title:hover {
  color: gray;
}
.el-submenu__title:hover i {
  color: gray;
}
.el-menu-item {
  color: #6f7277;
}
.el-menu-item a {
  color: gray;
}
.el-menu-item.is-active {
  background: #ecf5ff;
  color: gray;
}
.el-menu-item:focus,
.el-menu-item:hover {
  color: gray;
  background: #ecf5ff;
}
.el-menu-item-group__title {
  padding: 0;
}
.el-pagination {
  text-align: right;
}
.el-dialog__body {
  padding: 10px 20px;
}
.tableViewContainer > table {
  width: 100%;
}
.tableViewContainer > table > thead > tr {
  background-color: #e4e4e4;
}
.tableViewContainer > table > thead > tr > th {
  font-size: 14px;
  line-height: 40px;
  color: #666;
  text-align: center;
  font-weight: bold;
}
.tableViewContainer > table > tbody > tr > td {
  padding: 4px;
  color: #333333;
  line-height: 2.5;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}
.tableViewContainer > table > tbody > tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.tableViewContainer > table > tbody > tr:hover {
  background-color: #ecf5ff;
}
.noData {
  line-height: 2;
  text-align: center;
  color: #3f9eff;
  font-size: 14px;
}
.clearFloat {
  width: 0px;
  height: 0px;
  clear: both;
  visibility: hidden;
  display: block;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.djs-container {
  background-image: linear-gradient(90deg, hsla(0, 0%, 78.4%, 0.15) 10%, transparent 0), linear-gradient(hsla(0, 0%, 78.4%, 0.15) 10%, transparent 0);
  background-size: 15px 15px;
  background-color: #f7f8fa;
}
.djs-palette {
  width: 130px !important;
}
.djs-palette .entry {
  width: 130px;
}
.djs-palette .entry:hover {
  background-color: #e5edf4;
}
.bjs-powered-by {
  display: none;
}
.icon-custom {
  /* 定义一个公共的类名 创建的元素默认的样式 */
  border-radius: 8px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.namei {
  background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F202007%2F02%2F20200702233225_hAMLN.thumb.1000_0.jpeg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1627806086&t=95e5f3969fd8fc6398b99a2f904a6053');
}
.tool1 {
  background-image: url('../assets/bpmn/tool/1.svg');
}
.tool2 {
  background-image: url('../assets/bpmn/tool/2.svg');
}
.tool3 {
  background-image: url('../assets/bpmn/tool/3.svg');
}
.tool4 {
  background-image: url('../assets/bpmn/tool/4.svg');
}
.event1 {
  background-image: url('../assets/bpmn/event/1.svg');
}
.event2 {
  background-image: url('../assets/bpmn/event/2.svg');
}
.event3 {
  background-image: url('../assets/bpmn/event/3.svg');
}
.event4 {
  background-image: url('../assets/bpmn/event/4.svg');
}
.event5 {
  background-image: url('../assets/bpmn/event/5.svg');
}
.event6 {
  background-image: url('../assets/bpmn/event/6.svg');
}
.event7 {
  background-image: url('../assets/bpmn/event/7.svg');
}
.event8 {
  background-image: url('../assets/bpmn/event/8.svg');
}
.event9 {
  background-image: url('../assets/bpmn/event/9.svg');
}
.event10 {
  background-image: url('../assets/bpmn/event/10.svg');
}
.mypanelContainer {
  background-color: #fff;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 400px;
  padding: 10px;
  height: calc(100vh - 216px);
  transition: right 0.5s;
}
.mypanelContainer > div {
  height: calc(100vh - 246px);
  padding: 8px;
  overflow: auto;
}
.hidenPanelContainer {
  right: -408px;
}
.mypanelbgContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
